##Задание 1
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [36]:
import numpy as np
from scipy import stats

In [37]:
football = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hockey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
tedgists = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

mu_f = football.mean()
mu_h = hockey.mean()
mu_t = tedgists.mean()
mu_f, mu_h, mu_t

(179.125, 178.66666666666666, 172.72727272727272)

$H0: \mu_{football}= \mu_{hockey}= \mu_{tedgists}$ \\
$H1: \mu_{football} \neq \mu_{hockey} \neq \mu_{tedgists}$ \\
$\alpha = 0,05$

In [38]:
k = 3
n_f = len(football)
n_h = len(hockey)
n_t = len(tedgists)

all = np.concatenate([football, hockey, tedgists],axis=0)
n_all = len(all)
mu_all = all.mean()
n_all, mu_all

(28, 176.46428571428572)

In [39]:
S2 = np.sum((all - mu_all)**2)
S2

830.9642857142854

In [40]:
S2f = (mu_f - mu_all)**2 * n_f + (mu_h - mu_all)**2 * n_h + (mu_t - mu_all)**2 * n_t
S2f

253.9074675324678

In [41]:
sigma2f = S2f / (k - 1)
sigma2f

126.9537337662339

In [42]:
S2ost = np.sum((football - mu_f)**2) + np.sum((hockey - mu_h)**2) + np.sum((tedgists - mu_t)**2)
S2ost

577.0568181818182

In [43]:
round(S2f + S2ost, 10) == round(S2, 10)

True

In [44]:
sigma2ost = S2ost / (n_all - k)
sigma2ost

23.08227272727273

In [45]:
F_nab = sigma2f / sigma2ost
F_nab

5.500053450812598

$df_{межд} = k-1 =3-1 = 2$ \\
$df_{внутр} = n-k = 28 - 3 = 25$ \\
$F_{табл} = 3,39$

In [46]:
F_nab > 3.39

True

Следовательно, верна гипотеза H1, то есть различия среднего роста среди взрослых футболистов, хоккеистов и штангистов есть.

Проверим наш вывод с помощью функции

In [53]:
stats.f_oneway(football, hockey, tedgists)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

$P-value < \alpha$, значит, верна гипотеза H1, т.е. различие между группами статистически значимое.